$white-color: #fff;
$black-color: #272341;
$light-color: #fbfbfb;
$dark-grey: #333333;

$primary-color:#FF406C;
$secondary-color: #ff4b2b;

$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;